#about-me-section{
  border: 1px solid white;
  width: 99%;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#about-me{
  width: 400px;
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
}

#languages{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#languages div{
  width: 32px;
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*------------------ Projects -----------------*/
#projects-section{
  border: 1px solid white;
  width: 99%;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}