#about-me-section{
  width: calc(100% - 200px);
  min-height: calc(100% - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-left: 200px;
  border: 1px solid white;
}

#about-me{
  min-height: 600px;
  width: 35%;
  border: 2px solid black;
  border-radius: 20px;
}

#my-projects-section{
  width: calc(100% - 200px);
  min-height: 600px;
  border: 1px solid blue;
  margin-left: 200px;
}

#contact-me-section{
  width: calc(100% - 200px);
  min-height: 809px;
  border: 1px solid red;
  margin-left: 200px;
}